/* Style page admin */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #343a40;
  color: white;
  padding: 15px;
  text-align: center;
}

.sidebar {
  background-color: #f8f9fa;
  min-height: calc(100vh - 60px);
  /* hauteur totale - header */
  padding: 20px;
  border-right: 1px solid #ddd;
}

.sidebar h5 {
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
}

.sidebar a:hover {
  background-color: #e9ecef;
}

main {
  padding: 20px;
}